<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="AnbolCompany.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<!-- sql-ser-larisa\serv1215 OVER\SQLSERSTUDY-->
	<connectionStrings>
		<add name="AnbolEntities"
			 connectionString="metadata=res://*/Resourses.Anbol.csdl|res://*/Resourses.Anbol.ssdl|res://*/Resourses.Anbol.msl;provider=System.Data.SqlClient;&#xD;&#xA;
		 provider connection string=&quot;&#xD;&#xA;
		 data source=OVER\SQLSERSTUDY;&#xD;&#xA;
		 initial catalog=Anbol;integrated security=True;&#xD;&#xA;
		 multipleactiveresultsets=True;&#xD;&#xA;
		 application name=EntityFramework&quot;"
			 providerName="System.Data.EntityClient" />
	</connectionStrings>
	<userSettings>
		<AnbolCompany.Properties.Settings>
			<setting name="login" serializeAs="String">
				<value />
			</setting>
			<setting name="password" serializeAs="String">
				<value />
			</setting>
		</AnbolCompany.Properties.Settings>
	</userSettings>
</configuration>
